body{
	box-sizing: border-box;
	padding: 0 15px;
	font-size: 1.5rem;
	width: 80%;
	margin: 0 auto;
}
.row{
	width: 97%;
}

*{
	line-height: 2.5rem;
}

header{
	max-width: 80%
}

hr{
	width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-color: #fff;
}

.row{
	margin: 0 !important;
	padding: 0 !important;
}

.alfredsung *{
    font-family: 'Verdana, Geneva, sans-serif';
}

.h1-1{
	color: #444343;
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 1rem;
}

.main-container{
	position: relative;
    top: 10rem;
}

.singleheader {
    position: relative;
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
	left: 1rem;
    top: 0rem;
    padding: 0.5rem;
    border: 3px solid;
  }

.singleheader img{
	padding: 0;
}

p{
	padding: 5px;
	color: #616161;
}

.caption{
	padding: 6px;
}

.h2-2{
	font-size: 1.5em;
	color: #000;
	text-transform: uppercase;
}

.h3-3{
	font-size: 1.3em;
	color: #000;
	text-transform: uppercase;
}

.h6-6, .h5-5{
	font-size: 1em;
	text-transform: uppercase;;
}

.logoDesign {
	margin: 0 auto;
    overflow: hidden;
    width: 65%;
}


.wireframe{
	overflow: hidden;
	margin: 0 auto;
}

.wireframe img{
	width: 48%;
	float: left;
}

.persona, .journey, .flowchart{
	margin: 15px auto;
    overflow: hidden;
    width: 75%;

}

.storyboard{
	overflow: hidden;
	margin: 0 auto;	
}

.storyboard img{
    width: 18%;
    padding: 1rem;
    border-right: 1px solid;
    display: flex;
    float: left;
}

.finalimages{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
   margin-bottom: 2rem;
}


.finalimages div{
	height: 46rem;
    width: 46rem;
    float: left;

}

.finalimages img{
	float: left;
}

.morelinks button{
	background: black;
    color: white;
    margin-top: 10px;
}


.collapseicon{
    font-size: 16px;
    color: #333;
    line-height: 1.25;
    margin-bottom: 1.2rem;
    text-align: left;
}
/*.intro-collap .button::after {*/
.collapseicon::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.8rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

/* dropdown nav */
.main-navigation {
	background: #000000;
	padding: 24px 30px 42px;
	margin: 0;
	width: 100%;
	height: auto;
	clear: both;
	display: none;
}
.main-navigation > li {
	display: block;
	height: auto;
	text-align: left;
	padding: 0;
}
.main-navigation li a {
	display: block;
	color: #FFFFFF;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
}
.main-navigation li a:hover {
	color: #05aba6;
	padding-left: 1rem;
}
.main-navigation li.current > a {
	background: none;
	color: #05aba6;
}

/*

.storyboard img:nth-child(1){

}

.storyboard img:nth-child(2){

}

.storyboard img:nth-child(3){
	
}

.storyboard img:nth-child(4){
	
}

.storyboard img:nth-child(5){
	
}*/