li{
	list-style: none;
	float: left;
}

.customheader {
	background: #000000;
	margin: 0;
	height: 6rem;
	color: #fff;
	clear: both;
	line-height: 35px;
	width: 98%;
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
}
.customheader > li {
	display: block;
	height: auto;
	text-align: left;
	padding: 0;
	padding: 12px;
	font-size: 16px;
    letter-spacing: 1px;
    line-height: 35px;
}


.customheader li a {
	display: block;
	color: #FFFFFF;
	width: auto;
	text-decoration: none;
	border: none;
}
.customheader li a:hover {
	color: #00fff7;
}
.customheader li.current > a {
	background: none;
	color: #05aba6;
}
