
.uxlearn{
        margin-top: 4rem;
}


.singleheader {
    position: relative;
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    left: 2rem;
    top: 2rem;
    padding: 0.5rem;
    border: 3px solid;
  }

.crissncross img{
	margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-right: 2rem;
    margin-left: 2rem;
    float: left;
}

.reports img{
	margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.reports #image1 img{
    width: 50%;
}

.shoes img{
	margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.shoes #image3, .shoes #image4{
    margin: auto;
    overflow: auto;
    width: 45%;
    float: left;
    border: 1px solid;
    box-shadow: 6px 10px #8888885e;
    margin: 1rem 2rem 3rem;
}

.uxlearn #image12{
    margin: auto;
    width: 60%;
}

.web, .webmock{
    text-align: center;
    overflow: hidden;
    margin-top: 2rem;
}

.uxlearn .web .designs img,
.uxlearn .webmock .designs img,
.uxlearn .ipad .designs img{
    width: 45%;
    float: left;
    height: auto;
    box-shadow: 5px 7px 20px 0px;
    margin: auto;
    display: block;
    margin-bottom: 3rem;
    margin-right: 3rem;
}

.uxlearn p{
    height: auto;
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 2rem;
    font-family: -webkit-body;
    padding: 1.5rem;
    box-shadow: 5px 7px 20px 0px;
}

.uxlearn .designs span{
    display: inline-block;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1rem;
}

.uxlearn .sizes a{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background: #05aba6;
    padding: 1rem;
}

.uxlearn .sizes{
    height: auto;
    text-align: center;
    background: #fff;
    padding: 2rem;
    margin-top: 1rem;
}

.uxlearn .sizes a:hover{
    background: black;
    color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0 !important;
  text-align: center;
   background: #0000006e;
}

.uxlearn .phone .designs img{
    width: 45%;
    margin: auto;
    height: auto;
    box-shadow: 5px 7px 20px 0px;
    margin: auto;
    float: left;
    margin-bottom: 3rem;
}

